body {
    text-align: center;
    font-family: 'assistant';
    background-color: #fffff2;
    color: #94B49F;
    margin: 0;
}

a {
    color: #162135;
}

img {
    max-width: 100%;
}

.header {
    background-color:#E5E3C9;
    padding: 10px;

}

.homepage {
    background-color:#E5E3C9;

}
.footer {
    background-color:#E5E3C9;

}

.olheader {
    list-style-type: none;
    font-weight: bold;
    font-family: 'assistant';    
   }

.olheader li {
    display: inline-block;
}

.olfooter{
    list-style-type: none;
    font-weight: bold;
    font-family:'assistant';
   }

.olfooter li {
    display: inline-block;
}

.button {
    display: inline-block;
    border: .5px solid #38C4DA /*you can add color
    and if you don't type anything it will
    choose "currentcolor" automatically*/;
    padding: 8px;
    border-radius: 2px;
    transition:
    background-color .5s linear,
    color .5s linear;
    text-decoration: none;
    outline: none;
}

.button:hover, .button:focus {
    text-decoration: none;
    background-color: #38C4DA;
}
